/* Toc menu ================================= */
.toc-menu ul { margin-bottom: 0; padding-left: 0; list-style: none; }
.toc-menu ul a,
.toc-menu ul span { display: block; padding: .5rem 1rem; text-decoration: none; }

.toc-menu ul ul > li > a,
.toc-menu ul ul > li > span { padding: .5rem 1rem .5rem 2.5rem; }

.toc-menu ul ul > li > ul > li > a,
.toc-menu ul ul > li > ul > li > span { padding: .5rem 1rem .5rem 4rem; }

.toc-menu ul > ul > li > a,
.toc-menu ul > ul > li > span { border-bottom: 1px solid #eaecef; }

.toc-menu a.current { background-color: #dbeefd; color: #114e7e; font-weight: 550; }
.toc-menu a:not(.current):hover { color: #333; background-color: #f5f5f5; }

.toc-menu > ul > li > a,
.toc-menu > ul > li > span { border-bottom: 1px solid  #eaecef; }

.toc-menu > ul > li { margin-bottom: 16px; }

/* Info boxes ================================= */
div.admonition {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
div.admonition p.admonition-title { margin-top: 0; margin-bottom: .25rem; }
div.admonition p { margin-bottom: 8px; }
div.admonition p:last-child { margin-bottom: 0; }

div.admonition.note { border-left-color: #5bc0de; }
div.admonition.note p.admonition-title { color: #5bc0de; }

div.admonition.warning { border-left-color: #f0ad4e; }
div.admonition.warning p.admonition-title { color: #f0ad4e; }

/* css fixes ================================= */
.markdown-body .highlighttable { width: 100%; border-color: transparent; }
.markdown-body .highlighttable tr { border: 0 none; }
.markdown-body .highlighttable td { border: 0 none; }
.markdown-body .highlighttable .linenos { padding: 0 0.5em 0 1em; background-color: #f6f8fa; }
.markdown-body .highlighttable .code { padding: 0 0 0 0.5em; width: 100%; background-color: #f6f8fa; }
.markdown-body .highlighttable .code .highlight { margin: 0; }
.markdown-body .highlighttable .code .highlight > pre { padding-left: 0; }
.markdown-body .highlighttable .linenos .linenodiv { margin-top: 16px; }
.markdown-body code { color: inherit; }
.breadcrumb .breadcrumb-item.ml-auto::before { content: none; }
div.literal-block-wrapper { padding: 0; margin-bottom: 1em; }

h1:first-child { margin-top: 0; }
