#navbar .navbar-brand > a:hover { text-decoration: none; }

.markdown-body .highlighttable { width: 100%; border-color: transparent; }
.markdown-body .highlighttable tr { border: 0 none; }
.markdown-body .highlighttable td { border: 0 none; }

.markdown-body .highlighttable .linenos { padding: 0 0.5em 0 1em; background-color: #f6f8fa; }
.markdown-body .highlighttable .code { padding: 0 0 0 0.5em; width: 100%; background-color: #f6f8fa; }

.markdown-body .highlighttable .code .highlight { margin: 0; }
.markdown-body .highlighttable .code .highlight > pre { padding-left: 0; }

.markdown-body .highlighttable .linenos .linenodiv { margin-top: 16px; }

div.admonition {
  padding: 15px 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  line-height: 1.4;
}

div.admonition p { margin-bottom: 8px; }

div.admonition p.admonition-title {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 25px;
}

div.admonition.note { border-left-color: #5bc0de; }
div.admonition.note p.admonition-title { color: #5bc0de; }
div.admonition.warning { border-left-color: #f0ad4e; }
div.admonition.warning p.admonition-title { color: #f0ad4e; }

#toctree ul { margin-bottom: 0; padding-left: 0; list-style: none; }
#toctree ul > li { position: relative; display: block; }

#toctree > ul > li { margin-bottom: 16px; }
#toctree > ul > li > a { border-bottom: 1px solid #eaecef; }

#navbar { margin-bottom: 30px; }
#footer { margin-top: 30px; }

/* All levels of nav */
.bs-sidenav #toctree ul > li > a {
    display: block;
    color: #428bca;
    padding: 5px 20px;
}
.bs-sidenav #toctree ul > li > a:hover,
.bs-sidenav #toctree ul > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.bs-sidenav #toctree ul > .active > a,
.bs-sidenav #toctree ul > .active:hover > a,
.bs-sidenav #toctree ul > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

.bs-sidenav #toctree li a.current,
.bs-sidenav #toctree li a.current:hover,
.bs-sidenav #toctree li a.current:focus {
  color: #fff;
  background-color: #428bca;
  text-shadow: none;
}

.bs-sidenav #toctree ul ul > li > a {
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left: 40px;
  font-size: 95%;
}

